In [1]:
import pandas as pd

In [2]:
GDP = pd.read_csv("Data/GDP.csv")

In [3]:
GDP = GDP.drop(['Unnamed: 0',],axis = 1)

In [4]:
GDP_by_continent = GDP.groupby(by="Region").sum()
GDP_by_group = GDP.groupby(by="IncomeGroup").sum()

In [5]:
Population = pd.read_csv("Data/Pop.csv")

In [12]:
GDP

,0,1,2,3,4,5,6,7,8,9,...,255,256,257,258,259,260,261,262,263,264
Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Code,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
1960,NaN,21290586002.882301,537777811.111111,10404135069.15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1392052952993.820068,NaN,NaN,NaN,8748596504.235809,713000000.0,1052990400.0
1961,NaN,21808473824.6119,548888895.555556,11127894641.0191,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1448393308163.030029,NaN,NaN,NaN,9225996313.476391,696285714.285714,1096646600.0
1962,NaN,23707015393.918301,546666677.777778,11943187848.3043,NaN,NaN,NaN,NaN,NaN,24450604877.493401,...,NaN,NaN,NaN,1550299476381.120117,NaN,NaN,NaN,9813996078.523451,693142857.142857,1117601600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,3310055865.92179,997534042075.187012,18799450742.782299,794543045900.109985,69309104806.631104,15401830754.077299,3155149347.80639,2808099764578.029785,417215559513.364014,452818426182.65802,...,4117000000.0,330391329475.734009,936526267.622513,87652863215992.59375,852007104.660046,7899879086.43081,21887614217.174599,387934574098.169983,23308667781.2258,19284289739.051701
2020,2496648044.69274,921645942921.887939,20116137325.820599,784445725634.786011,53619071176.139,15131866270.593599,2891001149.3611,2496251185652.419922,358868765174.924011,389591035520.674988,...,4204000000.0,343242570827.351013,896827873.114925,84906814189239.5,807147527.615094,7716925356.12536,18840511908.248402,335442101366.416992,18110631358.311401,18051170798.941002
2021,NaN,1082095608968.22998,NaN,835808395909.477051,72546985708.570694,18260043499.806801,3329910723.76078,2850421035169.379883,NaN,491492700657.012024,...,NaN,362637524070.968994,983469256.849629,96100091004540.90625,788389971.603065,9007159195.742161,21061691629.5369,419946428126.007996,21203059080.3507,26217726717.3386
Region,Latin America & Caribbean,NaN,South Asia,NaN,Sub-Saharan Africa,Europe & Central Asia,Europe & Central Asia,NaN,Middle East & North Africa,Latin America & Caribbean,...,Latin America & Caribbean,East Asia & Pacific,East Asia & Pacific,NaN,East Asia & Pacific,Europe & Central Asia,Middle East & North Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa
IncomeGroup,High income,NaN,Low income,NaN,Lower middle income,Upper middle income,High income,NaN,High income,Upper middle income,...,High income,Lower middle income,Lower middle income,NaN,Lower middle income,Upper middle income,Low income,Upper middle income,Low income,Lower middle income

In [6]:
Population = Population.drop(['Unnamed: 0',],axis = 1)

In [7]:
Population_by_continent = Population.groupby(by="Region").sum()
Population_by_group = Population.groupby(by="IncomeGroup").sum()

In [9]:
Population_by_continent.transpose().to_csv("Data/Pop_Continent.csv")

In [8]:
continent_GDP = GDP_by_continent.div(Population_by_continent)

In [11]:
continent_GDP.transpose().to_csv("Data/GDP_Continent.csv")

In [24]:
GDP_df = pd.read_csv("case study/GDP/GDP.csv")
Pop_df = pd.read_csv("case study/Population/Population.csv")

In [28]:
GDP_df = GDP_df.drop(['Country Code','Indicator Name','Indicator Code','Unnamed: 66'], axis =1)
Pop_df= Pop_df.drop(['Country Code','Indicator Name','Indicator Code','Unnamed: 66'], axis =1)

In [30]:
GDP_df = GDP_df.set_index('Country Name')
Pop_df = Pop_df.set_index('Country Name')

In [33]:
GDPperCapita=GDP_df.div(Pop_df)

In [35]:
GDPperCapita.to_csv("Data/GDP_per_Capita.csv")

In [45]:
GDP_pct = continent_GDP.transpose().pct_change().transpose()

In [43]:
continent_GDP

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Region,,,,,,,,,,,,,,,,,,,,,
East Asia & Pacific,142.848749,143.504612,144.369705,157.246652,176.211595,191.988133,209.037550,225.646255,242.491197,272.135876,...,9316.379124,9342.287573,9561.000937,9455.889610,9724.315399,10309.001204,11167.726507,11339.349615,11304.120538,12816.562387
Europe & Central Asia,417.817717,438.845691,473.462489,517.105287,565.457029,608.987066,672.274791,717.380061,743.890529,815.846066,...,25119.128577,26133.757349,26374.151831,22612.850282,22443.172777,23691.687673,25284.189453,24901.317244,23906.587590,27012.136009
Latin America & Caribbean,269.579784,278.022909,401.701825,398.536526,430.061018,455.416388,488.446142,485.700713,508.253985,553.857192,...,10195.041742,10335.058724,10429.571110,8216.115479,7950.475993,8748.910388,8476.423463,8281.386826,6921.292117,7543.409793
Middle East & North Africa,134.028246,136.984649,131.926217,144.257899,154.964120,215.489532,221.483875,230.046707,302.020534,325.116733,...,8992.171694,8666.910240,8540.737206,7375.464756,7307.448457,7469.549834,7704.420769,7536.948963,6643.654940,5807.215614
North America,2939.448335,2991.592897,3155.097538,3283.141453,3480.426945,3729.969704,4044.247215,4231.867351,4579.982260,4912.487595,...,51881.170886,53234.150098,54714.470929,55452.421384,56312.434885,58430.198596,61158.563559,63175.740130,61000.855259,67514.023116
South Asia,82.937763,86.665068,90.558118,99.690597,111.672237,117.322447,96.488696,103.804033,106.374159,114.324922,...,1366.059425,1383.316909,1496.014996,1543.048131,1696.739629,1911.329754,1944.006635,1987.568340,1875.441391,2162.893661
Sub-Saharan Africa,121.305784,123.983184,131.059384,146.283113,140.186856,152.258289,160.391955,156.462779,163.300592,181.759221,...,1851.779309,1917.302443,1932.513463,1694.967450,1537.100976,1622.287453,1606.475862,1617.462464,1499.881893,1643.875723

In [47]:
GDP_pct.to_csv("Data/continent_Pct_change.csv")